
/* navbar */
nav{
    height: 80px;
}

nav #logo_mobile{
    max-width: 50px;
}
nav #nav_search input{
    background-color: #e8e8e8;
}

nav .dropdown button{
    background-color: transparent;
}
nav #nav_icons .bi-bell-fill{
    color: #ff9400;
}


/* container with aside header and main   */
#__container{
    height: calc(100vh - 80px);
}


/* aside */

aside{
    width: 70px;
    height: 100%;

    background-color: #002a45;
    background-image: url("../img/sidebar-bg.png");
}

aside .aside_link:hover{
    background-color: #838e96;
}

/* header */
header{
    background-color: #007ff2;
}

header #_plan .breadcrumb-item,
header #_plan button{
    background-color:#0068c8;
}


/* main  */
main{
    background-color: #f9fafb;
}

 /* main section1  */
main #section1 table #code_logo {
    max-width: 40px;

}

main #section1 table td span.label_done{
    background-color: #00955b;
}

main #section1 table td span.label_process{
    background-color: #ffc600;
}

main #section1 table td span.label_failed{
    background-color: #f42349;
}


/* main section2  */
main #section2 .card li img._stats{
    max-width: 400px;
}


@media screen and (min-width:992px) {
    
    aside{
        width: 150px;
    }
}