
/* navbar */

nav{
    height: 80px;
}

nav #logo_mobile{
    max-width: 50px;
}
nav #nav_search input{
    background-color: #e8e8e8;
}

nav .dropdown button{
    background-color: transparent;
}
nav #nav_icons .bi-bell-fill{
    color: #ff9400;
}



/* container with aside header and main   */

#__container{
    height: calc(100vh - 80px);

    /* test */
    background-color: rgba(255, 0, 0, 0.209);
}



/* aside */

aside{
    width: 70px;
    height: 100%;

    background-color: #002a45;
}

aside .aside_link:hover{
    background-color: #838e96;
}




/* header */

header{
    background-color: #007ff2;
}

header #_plan .breadcrumb-item,
header #_plan button{
    background-color:#0068c8;
}


















@media screen and (min-width:992px) {
    
    aside{
        width: 150px;
    }
}